<footer id="footer" class="container py-5" style="position:fixed; left:0; bottom:0; width:100%; font-size: xx-small;margin-top: 60px;" >
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="container text-center">
                    <ul class="text-center text-small" style="list-style:none; display:flex; flex-direction:row; justify-content:center; text-align:center; margin-top: 60px;">
                        <li style="margin-right:20px;"><a class="text-muted" href="#">Meta</a></li>
                        <li style="margin-right:20px;"><a class="text-muted" href="#">About</a></li>
                        <li style="margin-right:20px;"><a class="text-muted" href="#">Jobs</a></li>
                        <li style="margin-right:20px;"><a class="text-muted" href="#">Help</a></li>
                        <li style="margin-right:20px;"><a class="text-muted" href="#">Api</a></li>
                        <li style="margin-right:20px;"><a class="text-muted" href="#">Privacy</a></li>
                        <li style="margin-right:20px;"><a class="text-muted" href="#">Terms</a></li>
                        <li style="margin-right:20px;"><a class="text-muted" href="#">Top Accounts</a></li>
                        <li style="margin-right:20px;"><a class="text-muted" href="#">Hashtags</a></li>
                        <li style="margin-right:20px;"><a class="text-muted" href="#">Locations</a></li>
                        <li><a class="text-muted" href="#">Instagram Lite</a></li>
                    </ul>
                    <ul style="list-style:none;">
                        <li><a class="text-muted" href="#">Contact Uploading & Non-Users</a></li>
                    </ul>
  
                    <div class="container text-center">
                        <p style="font-size:x-small"> English © {% now "Y" %} Instagram from Meta</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>